/* General Style */
body {
    color: #2d3c49;
    font-family: "Press Start 2P", cursive;
    margin: 0;
}

@media screen and (min-width: 800px) {
    body {
        margin-left: 130px;
    }
}

a {
    color: inherit;
    text-decoration: none;
}

/* Header */
header {
    background: linear-gradient(to right, transparent 50%, #ff69b4);
    display: flex;
    justify-content: space-between;
}

@media screen and (min-width: 1130px) {
    header {
        background: linear-gradient( to right, transparent 500px, #ff69b4 1000px, #ff69b4);
    }
}

h1 {
    margin: 0;
}

h1 span {
    display: none;
}

@media screen and (min-width: 543px) {
    h1 span {
        display: inline;
    }
}

#logo {
    align-items: center;
    background-color: #02b3e4;
    display: flex;
    font-size: 29px;
    height: 85px;
    margin-left: -1px; /* Chrome alignment issue fix */
    padding-left: 23px;
    width: 85px;
    z-index: 3;
}

#logo span {
    display: none;
}

@media screen and (min-width: 543px) {
    #logo span {
        display: inline;
        text-indent: -999px; /* Render text off screen to get text-shadow blur effect to work in MS Edge */
        text-shadow: 999px 0 40px #02b3e4; /* Repostion text shadow in correct location using the text-indent offset value */
    }
}

@media screen and (min-width: 550px) {
    #logo span {
        text-shadow: 999px 0 35px #02b3e4;
    }
}

@media screen and (min-width: 560px) {
    #logo span {
        text-shadow: 999px 0 30px #02b3e4;
    }
}

@media screen and (min-width: 570px) {
    #logo span {
        text-shadow: 999px 0 25px #02b3e4;
    }
}

@media screen and (min-width: 580px) {
    #logo span {
        text-shadow: 999px 0 20px #02b3e4;
    }
}

@media screen and (min-width: 590px) {
    #logo span {
        text-shadow: 999px 0 16px #02b3e4;
    }
}

@media screen and (min-width: 600px) {
    #logo span {
        text-shadow: 999px 0 13px #02b3e4;
    }
}

@media screen and (min-width: 590px) {
    #logo span {
        text-shadow: 999px 0 11px #02b3e4;
    }
}

@media screen and (min-width: 620px) {
    #logo span {
        text-shadow: 999px 0 9px #02b3e4;
    }
}

@media screen and (min-width: 630px) {
    #logo span {
        text-shadow: 999px 0 7px #02b3e4;
    }
}

@media screen and (min-width: 640px) {
    #logo span {
        text-shadow: 999px 0 6px #02b3e4;
    }
}

@media screen and (min-width: 650px) {
    #logo span {
        text-shadow: 999px 0 5px #02b3e4;
    }
}

@media screen and (min-width: 660px) {
    #logo span {
        text-shadow: 999px 0 4px #02b3e4;
    }
}

@media screen and (min-width: 670px) {
    #logo span {
        text-shadow: 999px 0 3px #02b3e4;
    }
}

@media screen and (min-width: 680px) {
    #logo span {
        text-shadow: 999px 0 2px #02b3e4;
    }
}

@media screen and (min-width: 690px) {
    #logo span {
        text-shadow: 999px 0 1px #02b3e4;
    }
}

@media screen and (min-width: 700px) {
    #logo span {
        color: #02b3e4;
        text-indent: 0;
        text-shadow: none;
    }
}

#name {
    margin-right: 8px; /* Counter-act the rotation */
    padding: 3px 11px 0 0;
    transform: rotate(-13.37deg);
    transition: transform 1.337s ease-in-out;
    width: 100px;
    z-index: 1;
}


@media screen and (min-width: 543px) {
    #name {
        margin: 0;
        padding: 11px;
        transform: none;
        width: auto;
    }
}

#tagline {
    float: right;
    margin: 0;
    transform: rotate(1.337deg);
}

/* Content */
h2 {
    color: #7d97ad;
    font-size: 19px;
    padding: 20px 0;
    text-align: center;
    text-shadow: 1px 1px 1px #02b3e4;
}

@media screen and (min-width: 340px) {
    h2 {
        font-size: 24px;
    }
}

@media screen and (min-width: 380px) {
    h2 {
        padding: 10px 0;
        text-align: left;
    }
}

h4 {
    align-self: flex-start;
    text-shadow: 1px 1px 2px #ff69b4;
}

@media screen and (min-width: 380px) {
    h4 {
        text-shadow: none;
    }
}

@media screen and (min-width: 800px) {
    h4 {
        text-shadow: 1px 1px 2px #ff69b4;
    }
}

@media screen and (min-width: 1400px) {
    h4 {
        text-shadow: none;
    }
}

.colour-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 8px;
    margin-bottom: 20px;
}

.colour {
    height: 85px;
    margin-bottom: 7px;
    width: 108px;
}

@media screen and (min-width: 800px) {
    .colour {
        width: 130px;
    }
}

.project-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 0 1.5% 60px 1.5%;
}

.project-container img {
    width: 85%;
}

@media screen and (min-width: 380px) {
    .project-container img {
        background: rgba(255, 150, 255, 0.8); /* 8 digit hex colours not supported by MS Edge */
        padding: 23px;
        width: 300px;
    }
}

@media screen and (min-width: 500px) {
    .project-container img {
        border: solid 5px #666;
    }
}

@media screen and (min-width: 800px) {
    .project-container img {
        background: initial;
        border: none;
        max-width: 300px;
        padding: 0;
        width: 100%;   
    }
}

@media screen and (min-width: 1400px) {
    .project-container img {
        background: rgba(255, 150, 255, 0.8); /* 8 digit hex colours not supported by MS Edge */
        border: solid 5px #666;
        padding: 14px;
    }
}

#colour-picker {
    margin-top: -85px;
    position: absolute;
    transform: scaleX(-1);
    z-index: 2;
}

@media screen and (min-width: 800px) {
    #colour-picker {
        margin-left: -130px;
    }
}

#colour-1 {
    background: linear-gradient(to right, #02b3e4, transparent);
}

#colour-2 {
    background: linear-gradient(to right, #2d3c49, transparent);
}

#colour-3 {
    background: linear-gradient(to right, #7d97ad, transparent);
}

#splash-image {
    background-color: #ff69b4;
    height: 667px;
    overflow: hidden;
    position: relative;
}

#splash-image:before {
    background: linear-gradient(to right, transparent 50%, #ff69b4);
    content: "";
    height: 100%;
    max-width: 1000px;
    position: absolute;
    width: 100%;
}

#projects {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 800px) {
    #projects {
        flex-flow: row nowrap;
        margin-left: -130px;
        overflow: hidden;
        position: relative;
    }
    #projects::before {
        content:'/* General Style */ body { color: #2d3c49; font-family: "Press Start 2P", cursive; margin: 0; } @media screen and (min-width: 800px) { body { margin-left: 130px; } } a { color: inherit; text-decoration: none; } /* Header */ header { background: linear-gradient(to right, transparent 50%, #ff69b4); display: flex; justify-content: space-between; } @media screen and (min-width: 1130px) { header { background: linear-gradient( to right, transparent 500px, #ff69b4 1000px, #ff69b4); } } h1 { margin: 0; } h1 span { display: none; } @media screen and (min-width: 543px) { h1 span { display: inline; } } #logo { align-items: center; background-color: #02b3e4; display: flex; font-size: 29px; height: 85px; margin-left: -1px; /* Chrome alignment issue fix */ padding-left: 23px; width: 85px; z-index: 3; } #logo span { display: none; } @media screen and (min-width: 543px) { #logo span { display: inline; text-indent: -999px; /* Render text off screen to get text-shadow blur effect to work in MS Edge */ text-shadow: 999px 0 40px #02b3e4; /* Repostion text shadow in correct location using the text-indent offset value */ } } @media screen and (min-width: 550px) { #logo span { text-shadow: 999px 0 35px #02b3e4; } } @media screen and (min-width: 560px) { #logo span { text-shadow: 999px 0 30px #02b3e4; } } @media screen and (min-width: 570px) { #logo span { text-shadow: 999px 0 25px #02b3e4; } } @media screen and (min-width: 580px) { #logo span { text-shadow: 999px 0 20px #02b3e4; } } @media screen and (min-width: 590px) { #logo span { text-shadow: 999px 0 16px #02b3e4; } } @media screen and (min-width: 600px) { #logo span { text-shadow: 999px 0 13px #02b3e4; } } @media screen and (min-width: 590px) { #logo span { text-shadow: 999px 0 11px #02b3e4; } } @media screen and (min-width: 620px) { #logo span { text-shadow: 999px 0 9px #02b3e4; } } @media screen and (min-width: 630px) { #logo span { text-shadow: 999px 0 7px #02b3e4; } } @media screen and (min-width: 640px) { #logo span { text-shadow: 999px 0 6px #02b3e4; } } @media screen and (min-width: 650px) { #logo span { text-shadow: 999px 0 5px #02b3e4; } } @media screen and (min-width: 660px) { #logo span { text-shadow: 999px 0 4px #02b3e4; } } @media screen and (min-width: 670px) { #logo span { text-shadow: 999px 0 3px #02b3e4; } } @media screen and (min-width: 680px) { #logo span { text-shadow: 999px 0 2px #02b3e4; } } @media screen and (min-width: 690px) { #logo span { text-shadow: 999px 0 1px #02b3e4; } } @media screen and (min-width: 700px) { #logo span { color: #02b3e4; text-indent: 0; text-shadow: none; } } #name { margin-right: 8px; /* Counter-act the rotation */ padding: 3px 11px 0 0; transform: rotate(-13.37deg); transition: transform 1.337s ease-in-out; width: 100px; z-index: 1; } @media screen and (min-width: 543px) { #name { margin: 0; padding: 11px; transform: none; width: auto; } } #tagline { float: right; margin: 0; transform: rotate(1.337deg); } /* Content */ h2 { color: #7d97ad; font-size: 19px; padding: 20px 0; text-align: center; text-shadow: 1px 1px 1px #02b3e4; } @media screen and (min-width: 340px) { h2 { font-size: 24px; } } @media screen and (min-width: 380px) { h2 { padding: 10px 0; text-align: left; } } h4 { align-self: flex-start; padding-left: 10px; text-shadow: 1px 1px 2px #ff69b4; } @media screen and (min-width: 380px) { h4 { text-shadow: none; } } @media screen and (min-width: 800px) { h4 { text-shadow: 1px 1px 2px #ff69b4; } } @media screen and (min-width: 1400px) { h4 { text-shadow: none; } } .colour-container { align-items: center; display: flex; flex-direction: column; font-size: 8px; margin-bottom: 20px; } .colour { height: 85px; margin-bottom: 7px; width: 108px; } @media screen and (min-width: 800px) { .colour { width: 130px; } } .project-container { align-items: center; display: flex; flex-direction: column; padding-bottom: 60px; } .project-container img { width: 85%; } @media screen and (min-width: 380px) { .project-container img { background: rgba(255, 150, 255, 0.8); /* 8 digit hex colours not supported by MS Edge */ padding: 23px; width: 300px; } } @media screen and (min-width: 500px) { .project-container img { border: solid 5px #666; } } @media screen and (min-width: 800px) { .project-container img { background: initial; border: none; max-width: 300px; padding: 0; width: 90%; } } @media screen and (min-width: 1400px) { .project-container img { background: rgba(255, 150, 255, 0.8); /* 8 digit hex colours not supported by MS Edge */ border: solid 5px #666; padding: 14px; } } #colour-picker { margin-top: -85px; position: absolute; transform: scaleX(-1); z-index: 2; } @media screen and (min-width: 800px) { #colour-picker { margin-left: -130px; } } #colour-1 { background: linear-gradient(to right, #02b3e4, transparent); } #colour-2 { background: linear-gradient(to right, #2d3c49, transparent); } #colour-3 { background: linear-gradient(to right, #7d97ad, transparent); } #splash-image { background-color: #ff69b4; height: 667px; overflow: hidden; position: relative; } #splash-image:before { background: linear-gradient(to right, transparent 50%, #ff69b4); content: ""; height: 100%; max-width: 1000px; position: absolute; width: 100%; } #projects { display: flex; flex-direction: column; } @media screen and (min-width: 800px) { #projects { flex-flow: row nowrap; margin-left: -130px; overflow: hidden; position: relative; } #projects::before { content:''You are HERE''; color: #d3d3d3; display: inline-block; position: absolute; writing-mode: vertical-lr; -webkit-writing-mode: vertical-lr; -ms-writing-mode: vertical-lr; z-index: -1; } #projects a { flex-grow: 1; } #projects a:first-of-type { margin-left: 130px; } } #project-1 { background-color: #ffa07a; } @media screen and (min-width: 380px) { #project-1 { background: url(../img/squirrel.png) #ffa07a center / 270px auto repeat-x; } } @media screen and (min-width: 800px) { #project-1 { background: rgba(255, 160, 122, 0.85); /* 8 digit hex colours not supported by MS Edge */ } } #project-2 { background-color: #f5deb3; } @media screen and (min-width: 380px) { #project-2 { background: url(../img/pixel-art-maker.png) #f5deb3 center / 270px auto repeat-x; } } @media screen and (min-width: 800px) { #project-2 { background: rgba(245, 222, 179, 0.9); /* 8 digit hex colours not supported by MS Edge */ } } #project-3 { background-color: #998f8f; } @media screen and (min-width: 380px) { #project-3 { background: url(../img/weather.png) #998f8f center / 270px auto repeat-x; } } @media screen and (min-width: 800px) { #project-3 { background: rgba(153, 143, 143, 0.95); /* 8 digit hex colours not supported by MS Edge */ } } /* Footer */ footer { display: flex; font-size: 14px; } @media screen and (min-width: 290px) { footer { font-size: inherit; } } .chevron { display: none; margin-left: -20px; position: absolute; } #copyright { align-self: center; flex-grow: 1; line-height: 18px; padding-left: 10px; } #copyright span { word-spacing: 190px; } @media screen and (min-width: 480px) { #copyright span { word-spacing: initial; } } #links { background-color: #02b3e4; display: flex; flex-direction: column; padding: 10px 15px 10px 25px; } #links a { line-height: 38px; } #links a:hover span { display: inline; } ';
        color: #d3d3d3;
        display: inline-block;
        position: absolute;
        writing-mode: vertical-lr;
        -webkit-writing-mode: vertical-lr;
        -ms-writing-mode: vertical-lr;
        z-index: -1;
    }
    #projects article {
        flex-grow: 1;
        height: 100%;
    }
    #projects article:first-of-type {
        margin-left: 130px;
    }
}

#project-1 {
    background-color: #ffa07a;
}

@media screen and (min-width: 380px) {
    #project-1 {
        background: url(../img/squirrel.png) #ffa07a center / 270px auto repeat-x;
    }
}

@media screen and (min-width: 800px) {
    #project-1 {
        background: rgba(255, 160, 122, 0.85);  /* 8 digit hex colours not supported by MS Edge */
    }
}

#project-2 {
    background-color: #f5deb3;
}

@media screen and (min-width: 380px) {
    #project-2 {
        background: url(../img/pixel-art-maker.png) #f5deb3 center / 270px auto repeat-x;
    }
}

@media screen and (min-width: 800px) {
    #project-2 {
        background: rgba(245, 222, 179, 0.9);  /* 8 digit hex colours not supported by MS Edge */
    }
}

#project-3 {
    background-color: #998f8f;
}

@media screen and (min-width: 380px) {
    #project-3 {
        background: url(../img/weather.png) #998f8f center / 270px auto repeat-x;
    }
}

@media screen and (min-width: 800px) {
    #project-3 {
        background: rgba(153, 143, 143, 0.95);  /* 8 digit hex colours not supported by MS Edge */
    }
}

/* Footer */
footer {
    display: flex;
    font-size: 14px;
}

@media screen and (min-width: 290px) {
    footer {
        font-size: inherit;
    }
}

.chevron {
    display: none;
    margin-left: -20px;
    position: absolute;
}

#copyright {
    align-self: center;
    flex-grow: 1;
    line-height: 18px;
    padding-left: 10px;
}

#copyright span {
    word-spacing: 190px;
}

@media screen and (min-width: 480px) {
    #copyright span {
        word-spacing: initial;
    }
}

#links {
    background-color: #02b3e4;
    display: flex;
    flex-direction: column;
    padding: 10px 15px 10px 25px;
}

#links a {
    line-height: 38px;
}

#links a:hover span {
    display: inline;
} 